# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6761589735127286567698999ed12533f8791a48609913afb341cae6bcf49d22e4c2580ba39e5151fdc1feff9bff33c5366035e58b439cc723dc63fe2644e13c

test:
  secret_key_base: a14ce0effc71303714157b25f3d81dda38762e26c3dba29be060934f9f2b0f3c4870d2b706bcfeec727a4e52d7474600874128b439c64a4aaea864a4c8e40b71

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
